<div class="well">
    <h3>
        <span class="m-3 pull-right">Flask CRUD Project @by Felipe</span>
    </h3>
</div>
<!--===============================================================================================-->	
<script src="/static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/bootstrap/js/popper.js"></script>
	<script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/js/main.js"></script>